body{
    background-color: rgb(80, 184, 11);
    margin:0;
}
#wrap{
    width:1200px;
    border-collapse: collapse;
    margin:20px auto;
}
#wrap tr td{
    /* border:1px solid #000; */
    
}

#header{
    border-radius: 10px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    font-weight: 800;
    font-size: 19px;
}
#slideWrap{
    width:600px;
    height: 700px;
}
#drinkingWrap{
    width:600px;
    height: 350px;
}
.menuItem{
    /* width:100px; */
    padding-left: 50px;
}
.slide{ width:100%; }
.LeftMove, .RightMove{
    width:50px;
    font-size: 30px;
    text-align: center;
    color:#fff;
}

.LeftMove i:hover , .RightMove i:hover{
    cursor:pointer;
}

.slideImage{
    width: 500px;
}
.slideImage img{ width: 100%;}



.drinkingMenu{
    list-style:none;
    font-size: 20px;
    font-weight: 800;
}

.drinkingMenu li{
    height: 35px;
    border-bottom: 1px solid #ffe;
    width: 150px;
    cursor:pointer;
}

#eventWrap{
    height: 350px;
}