body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.available {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}

/* 호버 효과 추가 */
.available:hover {
    background-color: #4cae4c;
}
